<!DOCTYPE html>
<html>
    <head>
        <title>Mr.Sharath_CV</title>
        
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="The Curriculum Vitae of Sharath Kumar Reddy, Cloud Engineer at Deloitte">
        <meta charset="UTF-8"> 
        
        <link rel="shortcut icon" href="favicon.ico">
        
        <link type="text/css" rel="stylesheet" href="../static/css/style.css">
        <link href="http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300" rel="stylesheet" type="text/css">
        
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body id="top">
        <section id="cv" class="instaFade">
            <div class="mainDetails">
                <div id="headshot" class="quickFade">
                    <img src="../static/images/sharath_1.png" alt="Sharath Reddy">
                </div>
                
                <div id="name">
                    <h1 class="quickFade delayTwo">Sharath Kumar Reddy</h1>
                    <h2 class="quickFade delayThree">Analyst at Deloitte India Consulting</h2>
                </div>
                
                <div id="contactDetails" class="quickFade delayFour">
                    <ul>
                        <li><a href="mailto:mr.sharathreddy.7@gmail.com" target="_blank">mr.sharathreddy.7@gmail.com</a></li>
                        <li><a href="https://sites.google.com/view/sharathkumarreddy/">Portfolio - Mr. Sharath</a></li>
                        <li><a href="https://github.com/KING1729">GitHub - KING1729</a></li>
                        <li><a href="https://www.linkedin.com/in/sharath-kumar-reddy/">Linkedin - Sharath Kumar</a></li>
                        <li>M: +91 9573056365</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            
            <div id="mainArea" class="quickFade delayFive">
                <div class="section firstSection">
                    <div class="sectionTitle">
                        <h1>Personal Profile</h1>
                    </div>
                    
                    <div class="sectionContent">
                        <p> I am a Technology enthusiast, Computer programmer, passionate about Artificial Intelligence and Data Science. currently ernolled as a Cloud Engineer at Deloitte and has a keen interest in the field of Artificial Intelligence and Data Science.</p>
                    </div>
                    <div class="clear"></div>
                </div>
                
                
                <div class="section">
                    <div class="sectionTitle">
                        <h1>Work Experience</h1>
                    </div>
                    
                    <div class="sectionContent">
                        <h2>Cloud Engineer at Deloitte Touche Tohmatsu LLP</h2>
                        <p class="subDetails">July 2022 - Present</p>
                        <p>– Built a Contact Management System through Full Stack Development, that enables basic CRUD operations and solved complex problems using the latest Cloud, web Technologies from GCP and AWS services</p>      
                        <h2>Gaming Operations Intern at Glance [INMOBI] </h2>
                        <p class="subDetails">Oct 2021 - Jun 2022</p>
                        <p>– Published gaming cards to the glance application on Samsung and Xiaomi devices and helped in analysing gaming experience of user through the data </p>
                    
                        <h2>Business Development Intern - Elite Techno Groups</h2>
                        <p class="subDetails">April 2011 - August 2012</p>
                        <p>– Collaborated 50+ college Baja teams with the company and implemented new pitch ideas.
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
                
                
                <div class="section">
                    <div class="sectionTitle">
                        <h1>Key Skills</h1>
                    </div>
                    
                    <div class="sectionContent">
                        <ul class="keySkills">
                            <li>Python Programming</li>
                            <li>HTML/CSS/ JavaScript</li>
                            <li>Machine Learning</li>
                            <li>AWS/ GCP services</li>
                            <li>SQL</li>
                            <li>DBMS</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                
                
                <div class="section">
                    <div class="sectionTitle">
                        <h1>Education</h1>
                    </div>
                    
                    <div class="sectionContent">
                        <h2>National Institute of Technology Durgapur</h2>
                        <p class="subDetails">B.Tech (Electronics and Communication Engineering) </p>
                        <p>– Graduated with a CGPA - 8.14/10 </p>
                        <h2>Narayana Educational Institutions</h2>
                        <p class="subDetails"> Intermediate (MPC), Telangana State Board</p>
                        <p>– Qualified with 965/1000 marks</p>
                        <h2>Keshava Reddy School</h2>
                        <p class="subDetails"> Secondary Schooling, APSSC</p>
                        <p>– Qualified with 10/10 Grade </p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="section">
                    <div class="sectionTitle">
                        <h1>Projects</h1>
                    </div>
                    
                    <div class="sectionContent">
                        <h2> Image Classifier Website</h2>
                        <a href="https://github.com/KING1729/Image_Classifier">GitHub Link</a>
                        <p>Constructed a model that predicts the face of the celebrity in the image provided, through the trained
                            dataset, using OpenCV-python and Machine Learning. Designed a website to display the classification</p>
                        <h2> Head Gesture Controlled Wheelchair</h2>
                        <a href="https://github.com/KING1729/Head-gesture-controlled-wheel-chair-project">Project Link</a>
                        <p>Built a robot model that moves according to the head gestures of the person wearing an IC cap integrated
                            with MPU6050 (Accelerometer+Gyrscope), through Arduino programming</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="section">
                    <div class="sectionTitle">
                        <h1>Position of Responsibility</h1>
                    </div>
                    
                    <div class="sectionContent">
                        <h2>member of Research and Development Cell, CCA</h2>
                        <p class="subDetails">Feb 2019 - May 2022</p>
                        <p>Senior Fest Co-Ordinator of Tech Mela event in the largest Techno-management Fest of East-India, Aarohan’20 and 21, organised by Centre for Cognitive Activities at NIT Durgapur</p>
                        <h2>NSS Volunteer</h2>
                        <p class="subDetails">Oct 2018 - May 2022</p>
                        <p>Contributed a great service as Volunteer to National Service Scheme at NIT Durgapur</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="section">
                    <div class="sectionTitle">
                        <h1>Scholastic Achievements</h1>
                    </div>
                    
                    <div class="sectionContent">
                            <p>– Secured All India Rank 12718 in JEE Mains 2018,  AIR 14495 in JEE Advanced 2018 exams organized by National Testing Academy</p>
                            <p>– Secured State Rank 1049 in Telangana State EAMCET Exam in 2018</p>
                            <p>– Secured All India Rank 5500 in GATE 2021 organized by IIT Bombay</p>
                    
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </section>
        
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>
        jQuery(document).ready(function($) {
         
            $(".scroll").click(function(event){		
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top}, 750);
            });
        });
        </script>
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script><script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
        <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-3753241-1");
        pageTracker._initData();
        pageTracker._trackPageview();
        </script>
        
    </body>    
</html>